# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
env/
venv/
myenv/
ENV/
.venv/
env.bak/
venv.bak/
.pytest_cache/
.env

# Django stuff
db.sqlite3
*.sqlite3
*.log
*.pot
*.pyc
data/
prod_db

# Media and static files
/media
/static
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.bmp

# IDE specific
.idea/
# .vscode/
*.swp
*.swo
*.DS_Store

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.tar.gz
*.zip
*.whl

# Celery stuff
celerybeat-schedule

# Testing
coverage/
nosetests.xml
.coverage
*.cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json

# Pyre
.pyre/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.vercel
